{% extends 'base.html.twig' %}
{% block body %}
    <center>
        {% for post in posts %}
        <hr style="border-top: 5px solid black;">
        <br>
        <div>
            POST {{ post.title }}
            <br>
            <button style="background-color: darkseagreen"><a href="{{ path('post-update', {id: post.id} ) }}"> Edit</a></button>
            <br>
            <b style="color: #5eb5e0">
                TITLE:
                {{ post.title }}
            </b>
            <br>
            <b>
                TEXT:
                {{ post.text }}
            </b>
            <br>
            <button style="background-color: #AAAAAA"><a href="{{ path('add-comment', {id: post.id} ) }}"> Add comment</a></button>
            <button style="background-color: bisque"><a href="{{ path('comments', {id: post.id} ) }}"> View comments</a></button>
            <br>
            <br>
            <b>
                TEXT:
                {{ post.author | json_encode }}
            </b>
            {% endfor %}

            <hr style="border-top: 5px solid black;">
    </center>
    <button style="background-color: #AAAAAA"><a href="{{ path('post_add' ) }}"> Add new Post</a></button>
    <button><a href="{{ path('app_logout' ) }}"> Logout</a></button>
{% endblock %}
